* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
}
.container .navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #424dab;
  height: 10vh;
}

.logo img {
  max-height: 50px;
}

.logo:active {
  background: #fff;
}

.container .navbar .links a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.search-container input[type="text"] {
  padding: 6px;
  margin-top: 4px;
  font-size: 17px;
  border: none;
  border-radius: 10px;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 4px;
  margin-right: 16px;
  margin-left: 3px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.main-cointainer {
  display: flex;
  height: 70vh;
  width: 100vh;
  justify-content: left;
}

.main-cointainer .menu-lateral {
  width: 250px;
  margin-left: 1rem;
  background-color: #ddd;
  width: 30vh;
}

.main-cointainer .menu-lateral p {
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  size: 20px;
}

.categorias {
  margin-bottom: 3rem;
}

.acessados {
  margin-bottom: 2rem;
}

.main-cointainer .menu-lateral li {
  margin-bottom: 10px;
  list-style: none;
  justify-content: center;
  text-align: center;
}

  .main-cointainer .news {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 5rem;
  }

  .main-cointainer .image {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 5rem;
  }

  .main-cointainer .sobre {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
  }

  .sobre h3 {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
  }

  .gride-cointainer .news li {
    display: grid;
    align-content: space-between;
    align-items: stretch;
  }

  .news li h2 {
    display: flex;
    flex-direction: column;
    max-height: 10vh;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .movie-container {
  display: grid;
  align-content: space-between;
  margin: 0 1rem;
  }

  .movie-cointainer .estrelas {
  display: grid;
  align-content: space-between;
  margin: 0 1rem;
    }
  